---
layout: default
---

<img src="/pics/cairngorms.jpg">

<br><br>

<a href="/about">I am a data scientist and neuroscientist</a> based in
Edinburgh, Scotland. This is my personal website where
you'll find posts about projects I've been involved in and thoughts on issues
related to machine learning, artificial intelligence, neuroscience, and data science. I
currently work as a data science consultant, so drop me
<a href="mailto:sid.henriksen@gmail.com">an email</a> if you want to discuss a project or
enquire about availability.

<br>
<br>
<hr>
<br>
<h1>Recent blog posts</h1>
<div class="home">
  <ul class="post-list">
    {% for post in site.posts limit:3 %}
      <li>
        <h1 class="post-link-title"><a href="{{ post.url | prepend: site.baseurl }}">
	    {{ post.title }}</a></h1>
	<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
      {% if post.excerpt %}
      {{post.excerpt }}
	{% endif %}
      </li>
      <a class="post-link" href="{{post.url | prepend: site.baseurl }}" > Read post</a>
      <br><br>

    {% endfor %}
  </ul>

  {% comment %}
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
{% endcomment %}

</div>
